// * {
//   padding: 0;
//   margin: 0;
//   text-decoration: none;
//   list-style: none;
//   box-sizing: border-box;
// }

.nav {
  background: #fafafa;
  height: 5rem;
  width: 100%;
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0 1rem;
  box-sizing: border-box;
  top: 0;
}

.links {
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0;
  float: right;

  li {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    height: 3rem;

    a {
      text-decoration: none;
      padding: 0.25rem;
    }

    &:hover {
      border-bottom-color: var(--color-primary);
    }
  }
}

ion-icon {
  color: white;
  font-size: 23px;
  padding: 7px 13px;
  margin-top: 19px;
  cursor: pointer;
}

ion-icon:hover {
  background: #313c5e;
  transition: 0.5s;
  border-radius: 3px;
}

.logo {
  display: flex;
  align-items: center;
  width: fit-content;
  img {
    width: 2.5rem;
    height: 2.5rem;
  }
  h1 {
    font-size: 1.5rem;
    margin: 0;
    margin-left: 1rem;
  }
}
