.Button {
  text-transform: uppercase;
  margin-top: 0.5rem;
  cursor: pointer;
  color: var(--color-primary);
  background-color: #fafafa;
  padding: 0.5rem 1rem;
  border: solid 2px var(--color-primary);
  font-weight: 700;
  font-size: 1rem;
  margin: 0.5rem;
  transition-duration: 500ms;

  &:hover {
    background-color: var(--color-primary);
    color: #fff;
  }
}

.Pagination {
  display: flex;
  align-items: center;
  margin: auto;
  height: 50px;
}
